<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.tenx.agtechfarmer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:usesCleartextTraffic="true"
        android:name="com.github.tenx.agtechfarmer.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/agtech"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/agtech"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.github.tenx.agtechfarmer.ui.business.funcnatilies.BusinessFunctionalityActivity" />
        <activity android:name="com.github.tenx.agtechfarmer.ui.business.main.BusinessMainActivity">



        </activity>
        <activity android:name="com.github.tenx.agtechfarmer.ui.auth.AuthenticationActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>



        </activity>
        <activity android:name="com.github.tenx.agtechfarmer.ui.Services.ServicesActivity" />
        <activity android:name="com.github.tenx.agtechfarmer.ui.Function.FunctionActivity" >


        </activity>
        <activity
            android:name="com.github.tenx.agtechfarmer.ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>

        <service
            android:name=".service.FcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>